/* 
=====================================================
  Fonts
===================================================== */
@font-face {
  font-family: "CircularStd-Book";
  src: url("./fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Book.woff") format("woff"),
    url("./fonts/CircularStd-Book.ttf") format("truetype"),
    url("./fonts/CircularStd-Book.svg#CircularStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 
=====================================================
  Basic rules
===================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* /END RESET */

body {
  font-family: "CircularStd-Book";
  font-size: 18px;
}

p {
  line-height: 150%;
  margin: 0 0 10px;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CircularStd-Book";
}

h1 {
  font-size: 1.2rem;
  margin: 0 0 15px;
  font-weight: normal;
}

h2 {
  font-size: 1rem;
  margin: 0 0 12px;
  font-weight: normal;
}

h3 {
  font-size: 0.8rem;
  margin: 0 0 12px;
  font-weight: normal;
}

h4,
h5,
h6 {
  margin: 5px 0 5px;
  font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
}

a img {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

a {
  color: #363636;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #999;
}

/* remove dotted lines on some links in FF browser */
a,
a:active,
a:visited,
a img {
  outline: none;
}

/* CLEARFIX */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* {
  box-sizing: border-box;
}

/* /END CLEARFIX */

/* 
=====================================================
  Login/Register Page Css
===================================================== */

.login-area.clearfix {
  height: 100%;
  display: flex;
  width: 100%;
}

.login-left.dark.bg-section {
  float: left;
  width: 100%;
  max-width: 70%;
  background: #7f63f4;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

.login-right {
  float: right;
  width: 30%;
  box-sizing: border-box;
}

.bottom-area {
  position: absolute;
  bottom: 70px;
  width: 100%;
  left: 0;
  padding: 3%;
  box-sizing: border-box;
}

.slider-area h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.slider-area {
  margin-bottom: 30px;
}

.login-form {
  text-align: center;
  padding: 8%;
  padding-top: 20%;
  color: #6a707e;
}

.login-form h1 {
  font-size: 1.38rem;
}

.form-group label {
  display: block;
  text-align: left;
  color: #686e7c;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
  border: 1px solid #dddfe1;
  width: 100%;
  padding: 12px 14px;
  margin-top: 8px;
  font-size: 18px;
  color: #abafb3;
}

.form-meta label {
  color: #abafb3;
}

.form-group {
  margin-bottom: 20px;
}

.checkbox {
  float: left;
  font-size: 13px;
  margin-top: 6px;
  color: #abafb3;
}

.forgot-password {
  float: right;
  font-size: 13px;
  color: #abafb3;
  margin-top: 6px;
}

.forgot-password a {
  color: #abafb3;
}

.submit input {
  font-size: 20px;
  background: #7f63f4;
  border: 0;
  border-radius: 50px;
  color: #fff;
  min-width: 270px;
  padding: 14px;
  transition: all 0.4s ease-in-out 0s;
  border: 2px solid #7f63f4;
  cursor: pointer;
}

.submit input:hover {
  background: #fff;
  color: #7f63f4;
}

.sign-up-link {
  font-size: 15px;
  color: #abafb3;
  margin-top: 28px;
}

.sign-up-link a {
  color: #7f63f4;
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

.frm-link {
  color: #2290ff;
}

/* Slider Css */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  width: 70px;
  height: 6px;
  margin-right: 15px;
  width: 70px;
}

.centered-btns_tabs .centered-btns_here a {
  background: rgba(255, 255, 255, 1);
}

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  margin-right: 5px;
}

.phone-area {
  margin-top: 28px;
}

/* 
=====================================================
  Documents Page Css
===================================================== */

/* .dashboard {
  height: 100%;
  width: 100%;
  display: table;
} */

.right-area {
  width: 80%;
  display: table-cell;
  height: 100%;
  vertical-align: top;
}

.display-table-row {
  /* display: table-row; */
  height: 100%;
}

/*=== Left Menu ===*/

.left-menu {
  width: 20%;
  box-shadow: 3px 0 10px rgba(119, 119, 119, 0.1);
  display: table-cell;
  height: 100%;
}

.logo {
  background: #7f63f4;
  text-align: center;
  padding: 26px;
  box-sizing: border-box;
}

.navigation h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #abafb3;
  font-weight: bold;
  margin-left: 55px;
  margin-top: 40px;
}

.menu {
  margin-top: 30px;
  border-bottom: 1px solid #dddfe1;
  padding-bottom: 14px;
  min-width: 220px;
  box-sizing: border-box;
}

.menu li a {
  display: block;
  font-size: 16px;
  color: #6a707e;
  border-left: 4px solid #fff;
  padding: 21px 50px;
  transition: all 0.4s ease-in-out 0s;
  margin-bottom: 1px;
}

.menu li a i {
  margin-right: 10px;
}

.menu li a.active,
.menu li a:hover {
  background: #f2effe;
  color: #7f63f4;
  border-color: #7f63f4;
}

/*=== Left Menu End ===*/

/*=== Header ===*/
.top-bar {
  padding: 20px 30px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}

.search-area {
  float: left;
}

.search.form-group {
  margin-bottom: 0;
  background: #f3f3f3;
  display: inline-block;
  width: 350px;
  padding: 15px;
  border-radius: 3px;
  padding-left: 20px;
  position: relative;
}

.search.form-group::before {
  content: "\f002";
  font-family: FontAwesome;
  color: #b9b9b9;
  margin-right: 21px;
  font-weight: lighter;
  position: absolute;
  left: 20px;
}

.search.form-group input {
  background: transparent;
  border: 0;
  width: 100%;
  padding-left: 39px;
  color: #333;
  font-size: 15px;
}

.author-info {
  float: right;
}

.author-info li {
  color: #6a707e;
  display: inline-block;
  font-size: 16px;
  margin-left: 30px;
}

.author-info li a {
  color: #6a707e;
  position: relative;
}

.author-info li a i {
  font-size: 18px;
  color: #aaa;
}

.author-info li.circle a::after {
  content: "";
  position: absolute;
  right: -5px;
  top: -6px;
  background: #7f63f4;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid #f0f0f0;
}

.author-image figure {
  background: #7f63f4;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 0px;
  margin-right: 10px;
  border: 3px solid #d9d9d9;
}

#mobile_menu {
  display: none;
}

/*=== Header End ===*/

/*=== Breadcrumb ===*/
.dashboard-title-bar {
  background: #e7e7f8;
  padding: 20px 36px;
  font-size: 14px;
  color: #abafb3;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.row::before {
  display: table;
  content: " ";
}

.title h1 {
  color: #7f63f4;
  font-size: 22px;
  margin-bottom: 0;
}

.dashboard-title-bar .title {
  float: left;
}

.dashboard-title-bar .breadcrumb {
  float: right;
}

.breadcrumb li {
  display: inline-block;
  margin-left: 12px;
  padding-top: 5px;
}

.breadcrumb li::after {
  content: "-";
  color: #7f63f4;
  margin-left: 14px;
}

.breadcrumb li a {
  color: #7f63f4;
}

.breadcrumb li:last-child::after {
  content: none;
  margin-left: 0px;
}

.dashboard-content {
  padding: 30px;
  background: #f3f6f9;
}

/*=== Breadcrumb End ===*/

/*=== Document Page ===*/
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 3rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file input {
  min-width: 40rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 3rem;
}

.file-custom::before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Choose File";
  height: 25px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #abafb3;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
  padding-top: 12px;
}

table .border {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

th,
td {
  padding: 15px 40px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

.bg-shadow {
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 0 10px rgba(119, 119, 119, 0.1);
  padding: 30px;
  margin-bottom: 50px;
  color: #abafb3;
  font-size: 16px;
}

.upload-area {
  text-align: center;
}

.upload-area h2 {
  font-size: 18px;
  color: #464a53;
}

.upload-area h2 i {
  color: #8a71f5;
  font-weight: bold;
  margin-right: 6px;
  transform: rotateX(180deg);
  font-size: 21px;
}

.btn-default {
  font-size: 18px;
  border: 1px solid #dddfe1;
  border-radius: 5px;
  display: inline-block;
  margin-top: 12px;
  padding: 10px 25px;
  border-radius: 3px;
  transition: all 0.4s ease-in-out 0s;
}

.btn-default:hover,
.btn-purple {
  background: #7f63f4;
  color: #fff;
  border-color: #7f63f4;
}

.dual-btn .btn-default {
  min-width: 130px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-purple:hover {
  background: transparent;
  color: #000;
  border-color: #dddfe1;
}

.dual-btn {
  margin-top: 20px;
}

.table-area {
  overflow: auto;
}

.table-area h3 {
  color: #6a707e;
  font-size: 18px;
}

.table-area th {
  font-size: 18px;
  color: #6a707e;
}

.table-area td {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*=== Footer ===*/

.site-footer {
  text-align: center;
  font-size: 14px;
  color: #898989;
  padding: 30px;
  background: #fff;
}

.site-footer a {
  color: #7f63f4;
}

/* 
=====================================================
  Dashboard Css
===================================================== */

.dashboard-inner,
.chart-area {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.dashboard-left {
  float: left;
  width: 70%;
}

.dashboard-right {
  float: right;
  width: 30%;
  padding-left: 20px;
}

.chart {
  float: left;
  width: 25%;
  padding: 0 15px;
  text-align: center;
  clip: rect(0px, 100px, 100px, 50px);
}

.chart-circle {
  background: #f3f6f9;
  border-radius: 50%;
  width: 120px;
  position: relative;
  height: 120px;
  margin: 0 auto;
  clip: rect(0px, 50px, 100px, 0px);
}

.chart-circle span {
  background: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.green .chart-circle span {
  color: #71d875;
}

.pink .chart-circle span {
  color: #ff5274;
}

.blue .chart-circle span {
  color: #1d8ff7;
}

.orrange .chart-circle span {
  color: #ffa616;
}

.chart label {
  font-size: 18px;
  color: #464a53;
  margin-top: 15px;
  display: block;
}

.table-title h3 {
  color: #464a53;
  font-size: 22px;
  float: left;
  margin-top: 10px;
}

.filters {
  float: right;
}

.filters .btn-default {
  margin-top: 0;
  margin-left: 15px;
}

.filters label {
  font-size: 15px;
  color: #abafb3;
}

.dashboard-left .table-area th {
  color: #464a53;
  text-align: left;
  padding: 20px;
}

.dashboard-left tr {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.dashboard-left tbody > tr:first-child {
  background: transparent;
  border-bottom: none;
}

.dashboard-left td {
  color: #6a707e;
  padding: 30px 20px;
}

.dashboard-left tr.active {
  box-shadow: 0px 22px 10px rgba(119, 119, 119, 0.1);
  z-index: 999;
  position: relative;
}

.color-box {
  background: #000;
  color: #fff;
  border-radius: 3px;
  padding: 50px 40px;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  vertical-align: top;
}

.color-box.orrange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f48665+0,fda23f+99 */
  background: #f48665; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #f48665 0%,
    #fda23f 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #f48665 0%,
    #fda23f 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #f48665 0%,
    #fda23f 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f48665', endColorstr='#fda23f', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.color-box.purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9a56ff+0,d78afd+99 */
  background: #9a56ff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #9a56ff 0%,
    #d78afd 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #9a56ff 0%,
    #d78afd 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #9a56ff 0%,
    #d78afd 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a56ff', endColorstr='#d78afd', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.color-box .number {
  font-size: 35px;
  font-weight: bold;
  float: left;
  width: 120px;
  margin-right: 20px;
  position: relative;
  top: 40px;
}

.social-share a {
  display: block;
  background: #3b5998;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out 0s;
}

.social-share a:hover {
  opacity: 0.6;
}

.social-share a i {
  float: left;
}

.color-box .number::after {
  content: "";
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 69px;
  left: -15px;
  top: 2px;
}

.social-share a.btn-tw {
  background: #1da1f2;
}

.social-share a.btn-in {
  background: #007bb5;
}

.box-content {
  float: right;
}

.box-content h3 {
  font-size: 22px;
}

.box-content p {
  margin-bottom: 20px;
}

.box-content a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 1400px) {
  body {
    font-size: 16px;
  }

  .slider-area h2 {
    font-size: 22px;
  }

  .slider-area p {
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .login-left.dark.bg-section {
    max-width: 60%;
  }

  .login-right {
    width: 40%;
  }

  .display-table-row {
    display: block;
    transition: 1s;
  }
  .right-area {
    display: block;
    width: 100%;
  }

  #mobile_menu {
    display: inline-block;
  }
  .left-menu {
    width: 280px;
    display: block;
    position: absolute;
    transition: 1s;
    left: -280px;
    z-index: 9;
    background: #fff;
  }

  .left-menu.open {
    left: 0;
  }

  .search.form-group {
    width: 100%;
  }

  .dashboard-left {
    float: none;
    width: 100%;
  }

  .dashboard-right {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }

  .dashboard {
    display: block;
  }
}
@media (max-width: 768px) {
  .login-left.dark.bg-section,
  .login-right {
    float: none;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  .login-area.clearfix {
    height: 100%;
    display: block;
    width: 100%;
  }

  .bottom-area {
    position: static;
    text-align: center;
  }

  .login-form {
    padding-top: 35px;
  }

  .slider-area p br {
    display: none;
  }

  .slider-area {
    margin-bottom: 0;
  }

  .phone-area {
    margin-top: 10px;
  }

  .search-area {
    display: none;
  }

  .c100 {
    font-size: 70px;
  }

  .chart label {
    font-size: 1rem;
  }

  .table-title h3 {
    float: none;
    text-align: center;
  }
  .filters {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn-default {
    font-size: 1rem;
    padding: 8px 15px;
  }

  .table-area th {
    font-size: 1rem;
  }

  .dashboard-left .bg-shadow {
    padding: 15px 0px;
    margin-bottom: 30px;
    font-size: 1rem;
  }

  .file {
    display: block;
  }

  .file input {
    min-width: auto;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .dashboard-title-bar {
    padding: 20px 30px;
    font-size: 12px;
  }

  .title h1 {
    font-size: 18px;
  }
  .chart label {
    font-size: 0.74rem;
  }
  .login-left.dark.bg-section {
    height: initial;
  }
}
